<h2>列出所有管理帳號</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>帳號</th>
      <th>名稱</th>
      <th>密碼</th>
      <th>最高管理權</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.account %></td>
        <td><%= user.name %></td>
        <td><%= user.password %></td>
        <td><%= user.is_admin %></td>
        <td><%= link_to '顯示', user %></td>
        <td><%= link_to '編輯', edit_user_path(user) %></td>
        <td><%= link_to '刪除', user, method: :delete, data: { confirm: '確定要刪除帳號？本動作無法復原。' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '建立新管理帳號', new_user_path, :class=>'btn btn-primary' %>
